polkit.addRule(function(action, subject) {
  if (subject.user == "cullyn" && action.id == "org.freedesktop.NetworkManager.network-control") {
    return polkit.Result.YES;
  }
});
