[Unit]
Description=System utilities daemon for eww
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/ewwd
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
