[Unit]
Description=OpenCode shared backend

[Service]
Environment=PATH=/home/cullyn/.local/share/nvim/mason/bin:/home/cullyn/.local/bin:/home/cullyn/.cargo/bin:/home/cullyn/.go/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/usr/lib/rustup/bin
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
Environment=GOPRIVATE=git.linecode.dev/*
Environment=GONOPROXY=git.linecode.dev/*
Environment=GONOSUMDB=git.linecode.dev/*
ExecStart=/usr/bin/opencode serve --hostname 127.0.0.1 --port 4096
Restart=on-failure
RestartSec=2
RestartForceExitStatus=SIGTERM
Nice=10
OOMScoreAdjust=0
CPUWeight=25
IOWeight=25
CPUQuota=1000%
